* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    padding: 2% 0;
    font-size: 20px;
}

h2 {
    padding-bottom: 3%;
}

label {
    margin: 1%;
    padding: 2% 0;
}

input {
    width: 62%;
    margin: 1% 0;
    padding: 3px;
    border-radius: 4px;
}

button {
    margin: 2% 0%;
    padding: 3.3px;
    border-radius: 3px;
}

.layout {
    width: 100%;
    display: flex;
    gap: 16px;
    padding: 10px;
}

.grow1 {
    flex-grow: 1;
    padding: 1%;
    height: 50%;
    background-color: bisque;
    border-radius: 6px;
}

.formulario {
    display: block;
}